<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
</div>
<hr>
<h5>
  <ul>
    <li>Comments : {{comments}}</li>
    <li>Views : {{viewCounts}}</li>
    <li>Bookmarks : </li>
  </ul>
</h5>